---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a9e3bf7d6def9d4f9b7c539c24860a446da64841
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1544140368'
      Etag:
      - W/"d4920b09fd89e59ad1f29bc18f757ea7"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":154193132,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQxOTMxMzI=","name":"little_shop_v2","full_name":"jplao/little_shop_v2","private":false,"owner":{"login":"jplao","id":28496818,"node_id":"MDQ6VXNlcjI4NDk2ODE4","avatar_url":"https://avatars3.githubusercontent.com/u/28496818?v=4","gravatar_id":"","url":"https://api.github.com/users/jplao","html_url":"https://github.com/jplao","followers_url":"https://api.github.com/users/jplao/followers","following_url":"https://api.github.com/users/jplao/following{/other_user}","gists_url":"https://api.github.com/users/jplao/gists{/gist_id}","starred_url":"https://api.github.com/users/jplao/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jplao/subscriptions","organizations_url":"https://api.github.com/users/jplao/orgs","repos_url":"https://api.github.com/users/jplao/repos","events_url":"https://api.github.com/users/jplao/events{/privacy}","received_events_url":"https://api.github.com/users/jplao/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jplao/little_shop_v2","description":"BE
        Mod 2 Week 4/5 Group Project, an e-commerce platform","fork":true,"url":"https://api.github.com/repos/jplao/little_shop_v2","forks_url":"https://api.github.com/repos/jplao/little_shop_v2/forks","keys_url":"https://api.github.com/repos/jplao/little_shop_v2/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jplao/little_shop_v2/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jplao/little_shop_v2/teams","hooks_url":"https://api.github.com/repos/jplao/little_shop_v2/hooks","issue_events_url":"https://api.github.com/repos/jplao/little_shop_v2/issues/events{/number}","events_url":"https://api.github.com/repos/jplao/little_shop_v2/events","assignees_url":"https://api.github.com/repos/jplao/little_shop_v2/assignees{/user}","branches_url":"https://api.github.com/repos/jplao/little_shop_v2/branches{/branch}","tags_url":"https://api.github.com/repos/jplao/little_shop_v2/tags","blobs_url":"https://api.github.com/repos/jplao/little_shop_v2/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jplao/little_shop_v2/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jplao/little_shop_v2/git/refs{/sha}","trees_url":"https://api.github.com/repos/jplao/little_shop_v2/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jplao/little_shop_v2/statuses/{sha}","languages_url":"https://api.github.com/repos/jplao/little_shop_v2/languages","stargazers_url":"https://api.github.com/repos/jplao/little_shop_v2/stargazers","contributors_url":"https://api.github.com/repos/jplao/little_shop_v2/contributors","subscribers_url":"https://api.github.com/repos/jplao/little_shop_v2/subscribers","subscription_url":"https://api.github.com/repos/jplao/little_shop_v2/subscription","commits_url":"https://api.github.com/repos/jplao/little_shop_v2/commits{/sha}","git_commits_url":"https://api.github.com/repos/jplao/little_shop_v2/git/commits{/sha}","comments_url":"https://api.github.com/repos/jplao/little_shop_v2/comments{/number}","issue_comment_url":"https://api.github.com/repos/jplao/little_shop_v2/issues/comments{/number}","contents_url":"https://api.github.com/repos/jplao/little_shop_v2/contents/{+path}","compare_url":"https://api.github.com/repos/jplao/little_shop_v2/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jplao/little_shop_v2/merges","archive_url":"https://api.github.com/repos/jplao/little_shop_v2/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jplao/little_shop_v2/downloads","issues_url":"https://api.github.com/repos/jplao/little_shop_v2/issues{/number}","pulls_url":"https://api.github.com/repos/jplao/little_shop_v2/pulls{/number}","milestones_url":"https://api.github.com/repos/jplao/little_shop_v2/milestones{/number}","notifications_url":"https://api.github.com/repos/jplao/little_shop_v2/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jplao/little_shop_v2/labels{/name}","releases_url":"https://api.github.com/repos/jplao/little_shop_v2/releases{/id}","deployments_url":"https://api.github.com/repos/jplao/little_shop_v2/deployments","created_at":"2018-10-22T18:16:44Z","updated_at":"2018-11-01T14:51:55Z","pushed_at":"2018-11-01T14:51:53Z","git_url":"git://github.com/jplao/little_shop_v2.git","ssh_url":"git@github.com:jplao/little_shop_v2.git","clone_url":"https://github.com/jplao/little_shop_v2.git","svn_url":"https://github.com/jplao/little_shop_v2","homepage":null,"size":2074,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"open_issues_count":4,"license":null,"forks":1,"open_issues":4,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":146312809,"node_id":"MDEwOlJlcG9zaXRvcnkxNDYzMTI4MDk=","name":"complete_me","full_name":"Kate-v2/complete_me","private":false,"owner":{"login":"Kate-v2","id":36523304,"node_id":"MDQ6VXNlcjM2NTIzMzA0","avatar_url":"https://avatars3.githubusercontent.com/u/36523304?v=4","gravatar_id":"","url":"https://api.github.com/users/Kate-v2","html_url":"https://github.com/Kate-v2","followers_url":"https://api.github.com/users/Kate-v2/followers","following_url":"https://api.github.com/users/Kate-[...]
[...]
