Hello <%= @user.name.capitalize %>,
<br />
<p>Please activate your account by clicking <%= link_to 'here', email_confirmation_url(host: @host, id: @user.id) %>.</p>
<br />
<p>Love,</p>
<br />
<p>Your Mom</p>
